html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  
}

@import '~bootstrap/dist/css/bootstrap.css';

.btn {
	padding: 3px 15px 5px 15px;
}

.red {
	color: red;
}

input {
	border: 1px solid #CCC;
}


/*Header styles*/
.headerContainer{
  width:100%;
  height: 85px;
  background: lightblue
}

.left{
  float:left;
  /* width:100px; */
  padding: 0px 15px 0px 0px;
}

.right{
  float:right;
  padding:15px 10px 0px 0px;
}

.center{
  margin: 0 auto;
  /* width: 100px; */
  display: flex;
}

.change .bar1 {
  -webkit-transform: rotate(-51deg) translate(-11px, 11px);
  transform: rotate(-51deg) translate(-11px, 11px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -15px);
  transform: rotate(45deg) translate(-10px, -15px)
}

.title{
  color:black;
  padding: 6px 0px 10px 35px !important;
  /* text-align: -webkit-left; */
  /* vertical-align: middle; */
  /* display: inline-block; */
  font-size: 50px;
  font-weight: 500;
}

.barContainer{
 padding: 15px 0px 20px 10px;
}

.bar1, .bar2, .bar3 {
  width: 45px;
  height: 5px;
  background-color: black;
  margin: 12px 0;
  transition: 0.4s;
}

.titleLink{
  color:black !important;
  text-decoration: none !important;
}






/*End - Header styles*/



/*HomeContent section*/

.weatherDiv{
  float: right;
  display: flex;
}

.mapStyle{
  width: 50% !important;
  height: 50% !important;
}

.buttonClass{
  bottom: 0;
  float: right;
}

.abc{
  display: flex;
  overflow: scroll;
}

.eventdetail{
  margin-top: 25px;
  text-align: center;
}

 .event{
  width: 220px;
  border: black;
  border-style: solid;
} 



/*End - HomeContent section*/


/*Login, Register pages*/

.loginSection{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:column;
}

.inputfield{
  border-bottom-color: bisque;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
  text-align: center;
}

.pos{
  margin-top: 25%;
  width: 100%;
}


.form-control {
  font-size: 2rem;
  padding: 25px 15px;
}



/*End = Login, Register pages*/


/*Search page styles*/

.searchResults{
  margin-top: 10%;
}

.searchResultsGrid{
  display: flex;
  margin-top: 2%;
  
}

.search_result_name{
    font-weight: bold;
}

.search_result_address{
    font-weight: 600;
}

/* .search_result_price{
    
} */

.details{
  line-height: 30px;
  margin-left: 2%;
}

.form_search{
  margin-top: 3%;
}

/*End - Search page styles*/



/*TopBar - menu styles*/


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.topbar {
  position: fixed;
  background-color: #56B7CF;
  height: 60px;
  width: 100%;
  line-height: 60px;
  vertical-align: middle;
 
  -webkit-box-shadow: 0px 2px 2px 0px rgba(143,119,143,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(143,119,143,1);
  box-shadow: 0px 2px 2px 0px rgba(143,119,143,1);
}

.topbar > button {
  padding: 6px 8px;
  margin-right: 20px;
}

/* drawer */
.drawer {
  position: fixed;
  /*need to recheck this value*/
  top: 85px;
  /* left: 0; */
  bottom: 0;
  width: 0%;
  height: 100%;
  z-index: 999;
  transition: 0.2s;
  overflow-x: hidden;
  box-shadow: none;
  /* box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12); */
   background-color: #FFF;
}

.show-drawer {
  width: 300px;
}

.drawer-head {
  height: 100px;
  background-color: #9934A3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1; 
}

.drawer-menu {
  display: block;
  margin: 20px;
}

.drawer-menu li {
  list-style: none;
  min-height: 40px;
}

.search {
  outline: none;
  height: 40px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 20px;
}

.topbar > button {
  height: 35px;
  border: none;
  background-color: #FFF;
  border-radius: 3px;
  line-height: normal;
}

.main-content {
  padding: 100px 50px;
  text-align: center;
}

/* resturants */
.box {
  border: 1px solid #CCC;
  border-radius: 5px;
  height: auto;
  text-align: left;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(181,172,181,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(181,172,181,1);
  box-shadow: 0px 2px 4px 0px rgba(181,172,181,1);
  padding-bottom: 20px;
}
.box > img {
  width: 100%;
  height: 160px;
  border: none;
}
.box-content {
  padding: 5px 10px;
}
.box-title {
  display: block;
  font-weight: 600;
}
.box-desc {
  display: block;
  font-size: 13px;
  color: #4e4e4e;
}


.title_common_menu{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: x-large;
  font-weight: 600;
} 


/*End - TopBar - menu styles*/


/*Restaurants, cafes page styles*/

.ratingBlock{
background-color: #FF5607;
border: none;
padding: 2px 10px;
border-radius: 25px;
display: inline-block;
}

.restaurantTitle{
  font-size: x-large;
}

.openHrs{
  font-size: large;
}

.price{
  font-weight: 500;
}





/*End - Restaurants, cafes page styles*/


/*Transport component - styles*/

.stepId{
background: red;
display: inline-block;
border-radius: 10px;
}

.durationText{
font-weight: 700;
}

.getTransitButton{
  margin: 3%;
  font-size: larger;
  border-radius: 15px;
  padding: 5px;
}

.transitBlock{
  display: flex;
  flex-direction: column;
}

.showRoute{
  display: block;
}

/*End - Transport component - styles*/

.block {
  width: 100px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}